html, body {
  text-align: center;
}

* {
  box-sizing: border-box;
}

#page {
  width: 800pt;
  margin: 25pt auto;
  padding: 10pt;
  text-align: justify;
}

#menu {
  width: 20%;
  float: left;
}

#content {
  margin-left: 20%;
}

#footer {
  clear: both;
}

