html, body {
  text-align: center;
  margin: 0;
}

* {
  box-sizing: border-box;
}

#top {
  padding-top: 25pt;
}

#middle {
  overflow: hidden;
}

#bottom {
  clear: both;
  padding-bottom: 25pt;
}

#header, #body, #footer {
  width: 800pt;
  margin: 0 auto;
  padding: 10pt;
  text-align: justify;
}

#header {
}

#menu {
  width: 20%;
  float: left;
}

#body {
  overflow: hidden;
}

#content {
  margin-left: 20%;
}

#footer {
}
