@import url('https://fonts.googleapis.com/css?family=Nunito');

body {
  background-color: whitesmoke;
  font-family: 'Nunito', sans-serif;
}

#top, #middle, #bottom {
  background-color: whitesmoke;
}

#middle {
  background-color: lightgray;
}

#header, #body, #footer {
  background-color: white;
}

#page {
  background-color: white;
  color: #333;
}

#header {
}

#body {
  background-color: whitesmoke;
}

#footer {
}
